In [6]:
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [28]:
original_data=pd.read_csv('IRIS.csv')
original_data

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [29]:
data=original_data

In [30]:
data['species']=data['species'].map({'Iris-setosa':1,'Iris-virginica':0,'Iris-versicolor':2})
data

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        1
1             4.9          3.0           1.4          0.2        1
2             4.7          3.2           1.3          0.2        1
3             4.6          3.1           1.5          0.2        1
4             5.0          3.6           1.4          0.2        1
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        0
146           6.3          2.5           5.0          1.9        0
147           6.5          3.0           5.2          2.0        0
148           6.2          3.4           5.4          2.3        0
149           5.9          3.0           5.1          1.8        0

[150 rows x 5 columns]

In [31]:
x=data[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
y=data['species']

In [32]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=365)

In [33]:
reg=LogisticRegression()

In [34]:
print(reg.fit(x_train,y_train))

LogisticRegression()

C:\Users\utkar\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [36]:
reg.predict(x_test)

array([1, 1, 1, 1, 1, 1, 0, 2, 0, 2, 2, 2, 2, 1, 2, 0, 0, 0, 1, 2, 2, 0,
       2, 0, 0, 0, 0, 1, 2, 2, 0, 2, 0, 2, 1, 1, 2, 0], dtype=int64)

In [38]:
actual_values=np.array(y_test)
predicted_values=np.array(reg.predict(x_test))
cm=confusion_matrix(actual_values,predicted_values)
cm

array([[13,  0,  0],
       [ 0, 11,  0],
       [ 0,  0, 14]], dtype=int64)

In [39]:
accuracy=(cm[0,0]+cm[1,1]+cm[2,2])/(cm[0,0]+cm[0,1]+cm[0,2]+cm[1,0]+cm[1,1]+cm[1,2]+cm[2,1]+cm[2,0]+cm[2,2])
print("Model predicted the values for survival with a success rate of:",accuracy*100)

Model predicted the values for survival with a success rate of: 100.0